img {
    float: left;
    width: 220px;
    height:250px;
}
body {
    margin: 6pc;
    font-size: x-large;
    background-image: url("IMAGE/background.jpg");
}
.text-box {
    border: 2px solid black;
    padding: 6px;
    margin: 20px;
    padding-top: 10px;
    background-color: whitesmoke;
}
@media screen and (min-width: 650px) {
    body {
      font-size: 20px;
    }
}  